2018-06-27-raspbian-stretch-lite.img
copiedFromPi/.bash_history
copiedFromPi/.bash_logout
copiedFromPi/.bashrc
copiedFromPi/.profile
copiedFromPi/.viminfo
copiedFromPi/.vimrc.swp
copiedFromPi/picture.jpg
copiedFromPi/webam.log
copiedFromPi/webam.out
copiedFromPi/webcam.err
copiedFromPi/webcam/
